<div class="bg-black">
  <!--{{ carousel$ | async | json }}-->
  <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let slide of carousel$ | async" class="slide">
      <!--<app-modal-carousel modalTitle="{{slide.title}}" imagePath="{{slide.img}}" description="<p class=&#34;text-center&#34;>{{slide.description}}</p>" linkPath=""></app-modal-carousel>-->
      <img src="{{slide.img}}">
      <!--<ngx-image-zoom [thumbImage]=slide.img></ngx-image-zoom>-->
    </div>
  </ngx-slick-carousel>
</div>
<div class="bg-light">
  <div id="divHome" class="container eArriba25 text-center">
    <div class="col-md-12">
      <!--<div class="jumbotron mt-3">-->
      <h1 class="display-3">{{title}}</h1>
      <!--<p class="lead"></p>-->
      <hr class="my-4">
      <p>{{description}}</p>
      <div class="row">
        <div class="col-sm-4 eArriba25" *ngFor="let feature of features$ | async">
          <ngbd-modal-basic modalTitle="{{feature.title}}" imagePath="{{feature.img}}" description="<p class=&#34;text-center&#34;>{{feature.description}}</p>" linkPath=""></ngbd-modal-basic>
        </div>
      </div>
    </div>
  </div>
  <app-info></app-info>
  <app-programs></app-programs>
  <app-location></app-location>
</div>