/*.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}*/
.footer{
    background: rgba(0, 0, 0, 0.875);
}

a:link {
    text-decoration: none;
}

.encuadrar{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}