/*.navbar-brand {
    position: relative;
    background: url(../../../assets/images/logo.png);
    height: auto;
    widows: 100%;
    left: 15px;
    background-size: contain;
}*/
a{
    font-size: 20px;
}

a:link {
    text-decoration: none;
}

.encuadrar{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

/* change the background color */
.navbar-custom {
    background-color: #ff5500;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: yellow;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}