<nav class="navbar navbar-expand-lg text-center header navbar-dark">
  <a class="navbar-brand text-white font-weight-bold" routerLink="/">
    <!---<img src="./assets/images/logo.png">-->
    {{app_name}}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!--Contenido a la izquierda-->
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link font-weight-bold" routerLink="/home">{{home}}</a>
      </li>
      <!--<li class="nav-item" routerLinkActive="active">
        <a class="nav-link font-weight-bold" (click)="irAContacto()">{{contact}}</a>
        <a class="nav-link font-weight-bold" routerLink="/home" [fragment]="'contact_div'" routerLinkActive="active">{{contact}}</a>
      </li>-->
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link font-weight-bold" routerLink="/programs">{{programs}}</a>
      </li>
      <!--<li class="nav-item" routerLinkActive="active">
        <a class="nav-link font-weight-bold" routerLink="/equipment">{{equipment}}</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
          <a class="nav-link font-weight-bold" routerLink="/schedule">{{schedule}}</a>
      </li>-->
      <li class="nav-link">
        <a href="https://www.facebook.com/gymbarscalisthenics/" class="fab fa-facebook encuadrar text-light" target="_blank"></a>
        <a href="https://www.instagram.com/g_y_m_b_a_r_s/" class="fab fa-instagram encuadrar text-light" target="_blank"></a>
        <!--<a href="mailto:infou.root@gmail.com" class="far fa-envelope encuadrar text-light" target="_blank"></a>-->
      </li>

    </ul>
    <!--<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search" />
      <button class="form-control btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>-->
  </div>
</nav>
<div class="eAbajo56"></div>