<div class="container">
  <div class="jumbotron mt-3">
    <h1 class="display-4">RUTINAS DE CALISTENIA</h1>
    <p class="lead">Descripción de todas las rutinas que se hacen en el gimnasio.</p>
    <hr class="my-4">
    <p>Algún comentario ingenioso.</p>
    <!--<p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>-->
  </div>
</div>

<div id="gallery" class="container eArriba25 eAbajo100">
  <div class="col-md-12">
    <div class="row">
      <div class="col-sm-4 eArriba25">
        <ngbd-modal-basic imageTitle="Flexiones" imagePath="./assets/images/banner1.jpg" imageDescription=""></ngbd-modal-basic>
      </div>
      <div class="col-sm-4 eArriba25">
        <ngbd-modal-basic imageTitle="Eventos" imagePath="./assets/images/banner2.jpg" imageDescription=""></ngbd-modal-basic>
      </div>
      <div class="col-sm-4 eArriba25">
        <ngbd-modal-basic imageTitle="Muñequeras" imagePath="./assets/images/banner3.jpg" imageDescription="A solo Q. 75.00"></ngbd-modal-basic>
      </div>
    </div>
  </div>
</div>