<div class="container eAbajo100">
  <div class="jumbotron mt-3">
    <h1 class="display-3">AGENDA</h1>
    <p class="lead">Distribución de los ejercicios de cada semana.</p>
    <hr class="my-4">
    <!--<p>Algún comentario ingenioso.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>-->
    <div class="agenda">
      <div class="table-responsive table-bordered">
        <table class="table table-light text-center">
          <thead style="background-color: darkblue;" class="text-light">
            <tr>
              <th scope="col" colspan="2">Lunes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="hora">05:00 AM</td>
              <td class="evento">Hit intensivo, ideal para iniciar la mañana</td>
            </tr>
            <tr>
              <td class="hora">07:00 AM</td>
              <td class="evento">Aeróbicos y área libre</td>
            </tr>
            <tr>
              <td class="hora">12:00 PM</td>
              <td class="evento">Cerrado</td>
            </tr>
            <tr>
              <td class="hora">03:00 PM</td>
              <td class="evento">Iniciación en las barras paralelas</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="table-responsive table-bordered">
        <table class="table table-light text-center">
          <thead class="bg-warning text-white">
            <tr>
              <th scope="col" colspan="2">Martes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="hora">05:00 AM</td>
              <td class="evento">Hit intensivo, ideal para iniciar la mañana</td>
            </tr>
            <tr>
              <td class="hora">07:00 AM</td>
              <td class="evento">Aeróbicos y área libre</td>
            </tr>
            <tr>
              <td class="hora">12:00 PM</td>
              <td class="evento">Cerrado</td>
            </tr>
            <tr>
              <td class="hora">03:00 PM</td>
              <td class="evento">Iniciación en las barras paralelas</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="table-responsive table-bordered">
        <table class="table table-light text-center">
          <thead class="bg-primary text-white">
            <tr>
              <th scope="col" colspan="2">Miércoles</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="hora">05:00 AM</td>
              <td class="evento">Hit intensivo, ideal para iniciar la mañana</td>
            </tr>
            <tr>
              <td class="hora">07:00 AM</td>
              <td class="evento">Aeróbicos y área libre</td>
            </tr>
            <tr>
              <td class="hora">12:00 PM</td>
              <td class="evento">Cerrado</td>
            </tr>
            <tr>
              <td class="hora">03:00 PM</td>
              <td class="evento">Iniciación en las barras paralelas</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="table-responsive table-bordered">
        <table class="table table-light text-center">
          <thead class="bg-success text-light">
            <tr>
              <th scope="col" colspan="2">Jueves</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="hora">05:00 AM</td>
              <td class="evento">Hit intensivo, ideal para iniciar la mañana</td>
            </tr>
            <tr>
              <td class="hora">07:00 AM</td>
              <td class="evento">Aeróbicos y área libre</td>
            </tr>
            <tr>
              <td class="hora">12:00 PM</td>
              <td class="evento">Cerrado</td>
            </tr>
            <tr>
              <td class="hora">03:00 PM</td>
              <td class="evento">Iniciación en las barras paralelas</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="table-responsive table-bordered">
        <table class="table table-light text-center">
          <thead class="bg-info text-light">
            <tr>
              <th scope="col" colspan="2">Viernes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="hora">05:00 AM</td>
              <td class="evento">Hit intensivo, ideal para iniciar la mañana</td>
            </tr>
            <tr>
              <td class="hora">07:00 AM</td>
              <td class="evento">Aeróbicos y área libre</td>
            </tr>
            <tr>
              <td class="hora">12:00 PM</td>
              <td class="evento">Cerrado</td>
            </tr>
            <tr>
              <td class="hora">03:00 PM</td>
              <td class="evento">Iniciación en las barras paralelas</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="table-responsive table-bordered">
        <table class="table table-light text-center">
          <thead class="bg-danger text-light">
            <tr>
              <th scope="col" colspan="2">Sábado</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="hora">05:00 AM</td>
              <td class="evento">Hit intensivo, ideal para iniciar la mañana</td>
            </tr>
            <tr>
              <td class="hora">07:00 AM</td>
              <td class="evento">Aeróbicos y área libre</td>
            </tr>
            <tr>
              <td class="hora">12:00 PM</td>
              <td class="evento">Cerrado</td>
            </tr>
            <tr>
              <td class="hora">03:00 PM</td>
              <td class="evento">Iniciación en las barras paralelas</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="table-responsive table-bordered">
        <table class="table table-light text-center">
          <thead class="thead-dark">
            <tr>
              <th scope="col" colspan="2">Domingo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="hora">05:00 AM</td>
              <td class="evento">Hit intensivo, ideal para iniciar la mañana</td>
            </tr>
            <tr>
              <td class="hora">07:00 AM</td>
              <td class="evento">Aeróbicos y área libre</td>
            </tr>
            <tr>
              <td class="hora">12:00 PM</td>
              <td class="evento">Cerrado</td>
            </tr>
            <tr>
              <td class="hora">03:00 PM</td>
              <td class="evento">Iniciación en las barras paralelas</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>