<div id="divPrograms" class="container eArribaPrograms text-center">
  <div class="col-md-12">
    <h1 class="display-3">{{title}}</h1>
    <!--<p class="lead"></p>-->
    <hr class="my-4">
    <p>{{description}}</p>
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let slide of programs$ | async" class="slide">
        <div class="eArriba25">
          <h2>{{slide.title}}</h2>
          <ngbd-modal-basic modalTitle="{{slide.title}}" imagePath="{{slide.img}}"
            description="{{slide.description}}"
            linkPath=""></ngbd-modal-basic>
        </div>
      </div>
    </ngx-slick-carousel>
  </div>
</div>