/* You can add global styles to this file, and also import other style files */
.eArriba55{
    margin-top: 55px;
}

.eArriba7{
    margin-top: 7px;
}

.eArriba200{
    margin-top: 200px;
}

.eArriba25 {
    padding-top: 25px;
}

.eArribaPrograms {
    padding-top: 50px;
}

.eArriba80 {
    padding-top: 100px;
}

.eArriba100 {
    padding-top: 100px;
}

.eArriba200 {
    padding-top: 200px;
}

.eAbajo25 {
    padding-bottom: 25px;
}

.eAbajoNavBar{
    padding-bottom: 56px;
}

.eAbajo200 {
    padding-bottom: 200px;
}

.eAbajo100 {
    padding-bottom: 100px;
}

.eArribaRS{
    min-height: 120px;
    max-height: 500px;
    padding-top: 145px;
}

.eAbajoRS{
    min-height: 120px;
    max-height: 500px;
    padding-bottom: 150px;
}

.center {
    margin: auto;
    width: 50%;
}

.centerMenu {
    margin: auto;
    width: 35%;
}

.centrar {
    margin: auto;
    width: 40%;
}

img {
    width: 100%;
    height: auto;
}

.right {
    float: right;
    width: 220px;
}

.left {
    float: left;
    width: 200px;
}

.alto30 {
    height: 30px;
    padding-bottom: 20px;
}

section {
    padding: 20px 0;
}

/*Colors*/

.bg-black{
    background-color: black;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
