<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{modalTitle}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="imagePath">
            <a [className]="condition ? 'btn btn-light' : ''" (click)="goto(); modal.dismiss('Cross click');"><img src="{{imagePath}}"></a>
        </div>
        <div *ngIf="!imagePath">
            <h1 *ngIf="description" innerHTML="{{description}}"></h1>
        </div>
    </div>
    <div *ngIf="imagePath">
        <!--<h6 class="text-center" *ngIf="description">{{description}}</h6>-->
        <div class="container" *ngIf="description" innerHTML="{{description}}"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">{{close}}</button>
    </div>
</ng-template>

<button class="btn btn-lg btn-light" (click)="open(content)">
    <div *ngIf="!imagePath">
        <h1 *ngIf="description">{{modalTitle}}</h1>
    </div>
    <div *ngIf="imagePath">
        <img src="{{imagePath}}" class="preview">
    </div>
</button>

<pre>{{closeResult}}</pre>