<footer class="footer py-3 text-center">
  <div>
    <a href="https://www.facebook.com/gymbarscalisthenics/" class="fab fa-2x fa-facebook encuadrar" target="_blank"></a>
    <a href="https://m.me/gymbarscalisthenics/" class="fab fa-2x fa-facebook-messenger encuadrar" target="_blank"></a>
    <a href="https://www.instagram.com/g_y_m_b_a_r_s/" class="fab fa-2x fa-instagram encuadrar" target="_blank"></a>
    <a href="https://wa.me/50247993217‬" class="fab fa-2x fa-whatsapp encuadrar" target="_blank"></a>
    <!--<a href="mailto:gymbars@gmail.com" class="far fa-2x fa-envelope encuadrar text-light" target="_blank"></a>-->
  </div>
  <div class="text-white font-weight-bold">MIT License: Copyright © {{current_year}} Gymbars</div>
</footer>

<!-- Footer -->