/*.navbar-brand {
    position: relative;
    background: url(../../../assets/images/logo.png);
    height: auto;
    widows: 100%;
    left: 15px;
    background-size: contain;
}*/
a{
    /*font-size: 15px;*/
}

a:link {
    text-decoration: none;
}

.encuadrar{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    /*height: 130px;*/
    /*background: rgba(0, 0, 0, 0.875);*/
    background-color: black;
}

.nav-item > a:hover{
    color: gray;
}