<div id="divInfo" class="container eArriba25 text-center">
    <hr class="my-4">
    <div class="row">
      <div class="col-sm-6 eArriba25">
        <h1 class="display-3">Horario</h1>
        <table class="table table-light text-center">
          <thead style="background-color: rgb(14, 14, 83);" class="text-light">
            <tr>
              <th scope="col" colspan="2">Lunes a Viernes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>07:00 A.M. - 01:00 P.M.</td>
            </tr>
            <tr>
              <td>05:00 P.M. - 09:00 P.M.</td>
            </tr>
          </tbody>
        </table>
        <table class="table table-light text-center">
          <thead style="background-color: rgb(50, 50, 50)" class="text-light">
            <tr>
              <th scope="col" colspan="2">Sábado</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>08:00 A.M. - 12:00 P.M.</td>
            </tr>
            <tr>
              <td>03:00 P.M. - 07:00 P.M.</td>
            </tr>
          </tbody>
        </table>
        <table class="table table-light text-center">
          <thead style="background-color: rgb(150, 0, 0)" class="text-light">
            <tr>
              <th scope="col" colspan="2">Domingo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{cerrado}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="contact_div" class="col-sm-6 eArriba25">
        <h1 class="display-3">Contacto</h1>
        <div class="nav-link bg-dark text-white text-center">
          <h2><span class="eArriba25 fas fa-address-card"></span> Teléfono</h2>
          <h2>4799-3217</h2>
        </div>
        <div class="nav-link bg-dark text-white eAbajoRS text-center">
          <h2 class="eArriba25">Redes Sociales</h2>
          <a href="https://www.facebook.com/gymbarscalisthenics/" target="_blank" class="text-light fa-2x"><span class="fab fa-facebook"></span> GYMBARS</a>
          <br>
          <a href="https://m.me/gymbarscalisthenics/" target="_blank" class="text-light fa-2x"><span class="fab fa-facebook-messenger"></span> Messenger</a>
          <br>
          <a href="https://www.instagram.com/g_y_m_b_a_r_s/" target="_blank" class="text-light fa-2x"><span class="fab fa-instagram"></span> g_y_m_b_a_r_s</a>
          <br>
          <a href="https://wa.me/50247993217‬" target="_blank" class="text-light fa-2x"><span class="fab fa-whatsapp"></span> Whatsapp</a>
          <br>
          <!--<a href="mailto:gymbars@gmail.com" target="_blank" class="text-light fa-2x"><span class="fab fa-envelope"></span> Facebook</a>-->
        </div>
      </div>
    </div>
  </div>